
        <div class="row">
            <p><strong>2011</strong> - English Courses in SBEDIF (Intermediate level)</p>
        </div>
        <div class="row">
            <p><strong>2019</strong> - Web UI Development (prometheus.org.ua)</p>
        </div>
        <div class="row">
            <p><strong>2020</strong> - The Complete Web Developer 2020: Zero to Mastery (Udemy)</p>
        </div>
        <div class="row">
            <p><strong>2020</strong> - React online marathon (SoftServe IT Academy)</p>
        </div>
        <div class="row">
            <p><strong>2021</strong> - Web UI Developer course (SoftServe IT Academy)</p>
        </div>

